---
---

@font-face {
  font-family: "Lora";
  src: url("/images/lora.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$base-font-family: Lora;

@import "minima";

h1 {
  font-family: "Lora";
  padding-bottom: 2px;
  color: SlateBlue;
}
