---
---

@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

$font-family-serif: 'Lora', serif; // Define a variable

body {
    font-family: $font-family-serif; // Apply to the body
}

h1 {
    font-family: 'Lora', Georgia, serif; // Fallback fonts are good practice
}

@import "minima";
